<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{ownerName}}!</h2>
  </div>
</div>
  
  <h3>Create a New Pet Sitting Request:</h3>
<div class="row">
    <form class="form new-request-form" id="new-request-form">
      <div class = "row">
        <div class = "input-field col s12">
          <input id="pet-name" type="text" class="validate">
           <label for="pet-name">Pet Name</label>
        </div>
        <div class="input-field col s12">
          <input id="pet-type" type="text" class="validate">
            <label for="pet-type">Pet Type</label>
        </div>
        <div class="input-field col s12">
          <input id="pet-breed" type="text" class="validate">
            <label for="pet-breed">Pet Breed</label>
        </div>
        <div class="input-field col s12">
          <input id="pet-weight" type="text" class="validate">
            <label for="pet-weight">Pet Weight</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Owner House Sitting, Sitter House Sitting, Walking Service" id="service-type" type="text" class="validate">
            <label for="service-type">Service Type</label>
        </div>
        <div class="input-field col s12">
          <input id="service-start-date" type="date" class="datepicker">
            <label for="service-type">Service Start Date</label>
        </div>
        <div class="input-field col s12">
          <input id="service-end-date" type="date" class="datepicker">
            <label for="service-end-date">Service End Date</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="xxx-xxx-xxxx" id="owner-phone" type="text" class="validate">
            <label for="owner-phone">Owner Phone Number</label>
        </div>
      </div>
     <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>       
    </form>
  </div>
  <script src="./js/request.js"></script>
        

