<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{ownerName}}!</h2> <!-- ?????replace to ownerName as in Owner.js file from models?????-->
  </div>
</div>

<div class="col-md-6">
    <h3>Create a New Pet Sitting Request:</h3>

    <form class="form new-request-form" id="new-request-form">
      <div class="form-group">
        <label for="pet-name">Pet name: </label>
        <input class="form-input" type="text" id="pet-name" name="pet-name" />
      </div>
      <div class="form-group">
        <label for="pet-type">Pet type: </label>
        <input class="form-input" type="text" id="pet-type" name="pet-type" />
      </div>
      <div class="form-group">
        <label for="pet-breed">Pet breed: </label>
        <input class="form-input" id="pet-breed" name="pet-breed" />
      </div>
      <div class="form-group">
        <label for="pet-weight">Pet weight: </label>
        <input class="form-input" id="pet-weight" name="pet-wieght" />
      </div>
      <div class="form-group">
        <label for="service-type">Service type: </label>
        <input class="form-input" id="service-type" name="service-type" />
      </div>
      <div class="form-group">
        <label for="service-start-date">Service start date: </label>
        <input class="form-input" id="service-start-date" name="service-start-date" />
      </div>
      <div class="form-group">
        <label for="service-end-date">Service end date: </label>
        <input class="form-input" id="service-end-date" name="service-end-date" />
      </div>
      <div class="form-group">
        <label for="owner-phone">Owner phone #: </label>
        <input class="form-input" id="owner-phone" name="owner-phone" />
      </div>
      


      <div class="form-group">
        <!--create <div> for each input as a the PetSittingRequest model???-->
       
       
       
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="./js/request.js"></script>