<div class = "row">
    <section>
       <center><a href="/request"> <h4>Current Pet Sitting Requests</h4></a>
        <a href="/request"><img width = "550" label "View Current Requests" src ="https://www.dogster.com/wp-content/uploads/2017/06/rsz_shutterstock_2220635643.jpg.webp"></a>
        </center> 
    </section>
    <aside>
        <center>
        <a href="/create"><h4>Create a Sitting Request </h4></a>
        <a href="/create"><img width = "550" src= "https://www.akc.org/wp-content/uploads/2021/03/Dachshund-excited-to-snuggle-and-kiss-a-young-man-on-the-couch.jpeg"></a>
    </center>
    </aside>
</div>    


         
