<div class="row">
    <div class="col s12 m6">
        <div class="card">
                <div class="card-image">
                    <img src="https://www.dogster.com/wp-content/uploads/2017/06/rsz_shutterstock_2220635643.jpg.webp">
                </div>
                <div class="card-content">
                    <p>Click the following link to view all current requests that have been previously submitted</p>
                </div>
                <div class="card-action">
                    <a href="/request">View Current Pet Sitting Requests</a>
                </div>
            </div>
        </div>    
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.akc.org/wp-content/uploads/2021/03/Dachshund-excited-to-snuggle-and-kiss-a-young-man-on-the-couch.jpeg">
                </div>
                <div class="card-content">
                    <p>The following link will allow you to create a new pet sitting request. If you're not logged in, you will be asked to sign in or create a new account</p>
                </div>
                <div class="card-action">
                    <a href="/create">Create a New Sitting Request</a>
                </div>
            </div>
        </div>
</div>

            
            
{{!-- 

<div class = "row">
    <section>
       <center><a href="/request"> <h4>Current Pet Sitting Requests</h4></a>
        <a href="/request"><img width = "550" label "View Current Requests" src ="https://www.dogster.com/wp-content/uploads/2017/06/rsz_shutterstock_2220635643.jpg.webp"></a>
        </center> 
    </section>
    <aside>
        <center>
        <a href="/create"><h4>Create a Sitting Request </h4></a>
        <a href="/create"><img width = "550" src= "https://www.akc.org/wp-content/uploads/2021/03/Dachshund-excited-to-snuggle-and-kiss-a-young-man-on-the-couch.jpeg"></a>
    </center>
    </aside>
</div>    
 --}}

