<div class="text-center">
  <h2>{{name}}</h2> <!-- replace to ownerName as in Owner.js file from models?????-->
  <p>
    <button class="btn btn-primary">Pet Owner</button>
  </p>
</div>

<script src="./js/login.js"></script>