<div class="row mt-4">
  {{#if requests.length}}
  <div class="col-md-6 project-list">
    <h3>Current Requests:</h3>
    {{#each requests as |request|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/request/{{request.id}}">{{request.serviceType}}</a></h4> 
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="col-md-6 project-list">
    <h3>No Requests yet</h3>
  </div>
  {{/if}}
</div>